
html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
html,body{
width: 100%;
        min-height: 100%;
        height: 100%;

}

.fondo_blanco{
	background-color: white;
}
#header-container{
	/*background-image: url(../img/img-1920.png);*/
	background-position:  center 0 ;
    /*background-size: contain;*/
	background-size: cover;
    background-repeat: no-repeat;
    background-position-x: inherit;
    height: inherit;
	/*background-color: black;*/
}

.row_principal{
	height: inherit;
}

.col_formulario{
	background-color:white;
	height: initial;
	/*border: 1px solid red;*/
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.contenedor{
	/*border: 1px solid blue;	*/
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: inherit;
}

.ejemplo{
}

.ejemplo_adentro{

}

#asunto{
	color: #204a91;
}

select.form-control:focus{
	border-color:#4d00c3;
	background-color: #dccdf2;
	border: 1px solid;
}


.titulo_gastronia{
	font-family: 'Playball', cursive;
	font-size: 4.5rem;
	text-align: center;
    /*letter-spacing: .1rem;*/
    line-height: 0.4;
}

.bullest_titulo{
	font-weight: bold;
	font-size: .9rem;
	margin-top: 2rem;
}
#header-container .login,
#header-container .navbar-toggler{
	color: white;
}

.affix{
	position: fixed;	
}
/*container-fluid  abarca todo el ancho de la pagina*/

.col_slider{
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
}

.btn-sample { 
  color: #ffffff; 
  background-color: #5bd7a8; 
  border-color: #5bd7a8; 
  padding: .6rem 4rem;
} 
 
.imagenes_de_logos_abajo{
	padding-top: 0rem
}


.padding_uno_bottom{
	padding-bottom: 1rem;
}

.padding_uno_left{
	padding-left: 1rem;
}

.margin_bottom_cero{
	margin-bottom: 0rem; 
}
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #4cb88f; 
  border-color: #4cb88f; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #3C2D53; 
  border-color: #3C2D53; 
} 
 
.btn-sample .badge { 
  color: #3C2D53; 
  background-color: #ffffff; 
}
.columna{
	/*border:1px solid red;	*/
}

#menu-container{
	background-color: #f7f7f9;
}
.btn.btn-platzi{
	background-color: #99c84a;
	color:white;
}

.btn.btn-platzi:hover{
	background-color: #8ab542;
}

input.form-control:focus{
	/*border-color:#491ea3;*/
	background-color: #f6f4fb;
	border: 1px solid  #f6f4fb;

	-webkit-box-shadow: 3px 3px 9px -1px rgba(73,46,163,0.45);
	-moz-box-shadow: 3px 3px 9px -1px rgba(73,46,163,0.45);
	box-shadow: 3px 3px 9px -1px rgba(73,46,163,0.45);

}

#search-bar{
	padding:1em; 
}

#productosCarousel img{
	margin: 0 auto;
}

.titulo_lp{
	position: absolute;
    top: 80%;
    left: 35%;
	/*border:1px solid red;*/
	color:white;
}

.titulo_principal{
	text-align: center;
    letter-spacing: .1rem;
    color:white;
}
.imagenes_form{
	margin: 0 auto;
	text-align: center;
}

legend{
	text-align: center;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color:#164290;
}


h2{
	text-align: left;
    font-size: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    color:#3c2d53;
    font-weight: normal;
    padding-bottom: .5rem;
    line-height: 1.5;	
}

.form-control{
	border-radius: 0rem !important; 
	background-color: #f6f4fb;
	font-weight: 300;
	border: 1px solid #f6f4fb;
}

.form-control::-webkit-input-placeholder { color: #3c2d53; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #3c2d53; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #3c2d53; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #3c2d53; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #3c2d53; }


.contenedor_formulario{
    padding-top: 2rem;
}

.imagenes_de_logos{
	padding-bottom: 0rem;	
	padding-top: 1rem;
}

.formualrio{
	margin-bottom: 2rem;
	/*border:1px solid purple;*/
	background: rgba(255, 255, 255, 0.2);
	/*color: rgba(215, 40, 40, 0.9);*/
}

.descripcion{
	background-color: #ebeaed;
	padding: 4rem 2rem;
}

.sub_titulo{
	font-family: 'Lato', sans-serif;
	margin-top: 4rem;
	margin-bottom:2rem; 
	font-weight: 300;
	color:#164290;
	font-size: 2.5rem;
}

.sub_titulo_p{
	font-size: 1.1rem;	
	color: #3c2d53;
	margin-left: 2.62rem;
	margin-right: 2.62rem;
	margin-bottom: 4rem;
}

.p_landing{
	font-weight: normal;
	font-size: .9rem;
}

.especialidades{
	margin-top:4rem;
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

.footer_bullets{
	margin-top:1rem;
	margin-bottom: 4rem;
	padding-left: 0rem !important;
}
.sin_marggin_bottom{
    margin-bottom: 0px;
}

.padding_left_bullets{
	padding-left: 2rem;
	display: inline-block;
}


.text_bullets{
    font-size: .6rem;
    color: gray;
}

.proximamente{
	color:#3c2d53;
	font-size: 1.2rem;
	padding-top:.5rem;
}
.mes{
	color: #5bd7a8;
	font-weight: bold;
}


.inscripciones{
	color:#3c2d53;
	font-size: 1rem;
	margin-bottom: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.informacion{
	color:#3c2d53;
	font-size: .8rem;
}

.contenedor_prox{
	border:1px solid #3c2d53;
}

.mail{
	color: #5bd7a8;
	font-weight: bold;
}






@media only screen and (max-width: 991px) {
 	.titulo_lp{
	        margin-top: 2rem;
			position: static;
			top: 0;
			left: 0;
			text-align: center;
			/*border:1px solid red;*/
	} 
	.contenedor{
		display: block;
	}   
}

@media only screen and (max-width: 400px) {
 	.padding_left_bullets{
		/*padding-left: 0rem;*/
        display: block;
        padding-left: 0rem !important;
	}
	.sub_titulo{
		font-size: 2.2rem;
		line-height: 1.4;
	}

	legend {
        font-size: 1.5rem;
    }

	.sub_titulo_p{
		font-size: 1.4rem;	
		margin-left: 0rem;
		margin-right: 0rem;
	}
	.titulo_gastronia {
        font-size: 2.5rem;
 
	}
	.text_bullets{
	    font-size: .7rem;
	    color: gray;
	}

	.formualrio {
        background: rgba(0, 0, 0, 0);
        padding-left: 0px;
        padding-right: 0px;
    }
    .fondo_mobile{
    	background-image: url(../img/img-1920.png);
	/*background-position:  center 0 ;*/
    /*background-size: contain;*/
	background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    /*background-position-x: inherit;*/

    }
    #header-container{
    	background: #83778d;
    }
    .bullest_titulo{
    	font-size: 1.4rem;
    }
    .p_landing{
		font-size: 1.3rem;
	}	

	.padding_mobile_cero{
		padding-left: 0px;
        padding-right: 0px;	
	}
	.espacio_mobile{
		padding-top: 1rem;
		padding-left: 0px;
	}
	.primer_mobile{
		padding-left:3rem;
		padding-right:3rem; 
	}
	.segundo_mobile{
		padding-left:5rem;
		padding-top: 1rem;
		padding-right:5rem; 
	}
	.imagenes_de_logos{
		padding-bottom: 1rem;	
	}
	.imagenes_de_logos_abajo{
		padding-bottom: 3rem;
	}
	.margin_bottom_cero{
		margin-bottom: 1.5rem;
	}
	.contenedor{
		display: block;
	} 
}